[submodule "bday-reminder"]
	path = bday-reminder
	url = git@github.com:violettomania/bday-reminder.git
[submodule "tours"]
	path = tours
	url = git@github.com:violettomania/tours.git
[submodule "reviews"]
	path = reviews
	url = git@github.com:violettomania/reviews.git
[submodule "questions"]
	path = questions
	url = git@github.com:violettomania/questions.git
