[submodule "bday-reminder"]
	path = bday-reminder
	url = git@github.com:violettomania/bday-reminder.git
[submodule "tours"]
	path = tours
	url = git@github.com:violettomania/tours.git
[submodule "reviews"]
	path = reviews
	url = git@github.com:violettomania/reviews.git
[submodule "questions"]
	path = questions
	url = git@github.com:violettomania/questions.git
[submodule "menu"]
	path = menu
	url = git@github.com:violettomania/menu.git
[submodule "tabs"]
	path = tabs
	url = git@github.com:violettomania/tabs.git
[submodule "slider"]
	path = slider
	url = git@github.com:violettomania/slider.git
[submodule "lorem-ipsum"]
	path = lorem-ipsum
	url = git@github.com:violettomania/react-projects.git
